@charset "utf-8";

$primary: #FFF;


.icon-button 
    opacity: 0.8
    cursor: pointer

.icon-button:hover 
    opacity: 1
    
.soft-shadows 
    box-shadow: 0px 10px 10px 0px #00000011;

.v-align-start
    align-items: flex-start;

.v-align-center
    align-items: center;

.is-striked
    text-decoration: line-through;

    